{% extends 'admin/index.html.twig' %}
{% block admin_subheading %} Update Customer {% endblock %}
{% block adminbody %}

    <div class="row">


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            {{ form_row(form.name) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.loyality_id) }}
                            {{ form_row(form.city) }}
                            {{ form_row(form.nationality) }}
                            {{ form_row(form.password.first) }}
                            {% do form.password.second.setRendered %}
                            {% do form.refferer_email.setRendered %}
                            <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-lg btn-block btn-success" />
                            {{ form_end(form) }}

                            {#<button class="btn btn btn-danger btn-lg btn-block " id="deleteCustomer">{{ 'Delete Customer'|trans }}</button>#}
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- modal for delete customer -->




    <div class="modal fade" id="confirmDialog" role="dialog" aria-labelledby="deleteDialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {{ "Delete Customer"|trans }}


                    <!-- delete form -->
                    {{ form_start(delete_customer_form,  { 'attr' : {'id':"form_del"} }) }}

                    {{ form_end(delete_customer_form) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="delete">
                        {{ 'OK'|trans }}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ 'Cancel'|trans }}
                    </button>
                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript">
        (function ($) {
            $('#deleteCustomer').on('click', function (e) {
                e.preventDefault();
                $('#confirmDialog').modal();
            });

            $('#delete').on('click', function (e) {
                $('#form_del').submit();
            });
        })(jQuery);
    </script>


{% endblock %}