{{ "Hi"|trans }} {{ name }} <br />
{{ "Your company account has been activated"|trans }}<br />
{{ "Please login via the following link"|trans }}<br />
<a href="{{ url('account_login') }}">{{ "click here"|trans }}</a>