{{ 'Congragulations'|trans }}<br />
{{ 'Your friend'| trans }} {{ invitor }} {{ "has invited you to join mzaaya.com" }} <br />
{{ "Click following link to register with mzaaya.com" }} <a href="{{ url('register_invited',{'inv_id':id}) }}">{{ 'click here'|trans }} </a>
