{{ 'Dear'|trans }} {{ name }},
<br>
{{ 'Your Password is changed successfully'|trans }}
<br>
{{ 'You can login to the system using your new password' }} <span style="color: darkgreen;font-weight: bold">{{ password }}</span>


