<header>
    <div class="container header-container">
        <div class="navbar-inner">
            <div class="container absolute">
                <div class="row eq-height">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <div class="logo">
                            <a href="{{ path('homepage') }}">
                                <img src="{{ asset('templateV2/images/logo.png') }}" class="img-responsive"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 static-menu">
                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 top-menu">
                                <a href="{{ path('list_stores') }}">
                                    <img src="{{ asset('templateV2/images/o/business.png') }}"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 top-menu">
                                {#<a href="{{ path('all_discounts') }}">#}
                                <a href="#">
                                    <img src="{{ asset('templateV2/images/o/individual.png') }}"
                                         class="img-responsive">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 top-menu">
                                {#<a href="{{ path('account_login') }}">#}
                                <a href="{{ path('account_login') }}">
                                    <img src="{{ asset('templateV2/images/o/about-us.png') }}" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</header>