<div class="row">
    <div class="col-md-4">
        <ul class="nav navbar-nav navbar-left social-links">
            <li><span class="copyright">&copy; {{ 'now'|date('Y') }}</span></li>
            <li><a href="#"><img src="{{ asset('template/images/fb.png') }}"/> </a></li>
            <li><a href="#"><img src="{{ asset('template/images/tw.png') }}"/> </a></li>
            <li><a href="#"><img src="{{ asset('template/images/gp.png') }}"/> </a></li>
            <li><a href="#"><img src="{{ asset('template/images/ln.png') }}"/> </a></li>
            <li><a href="#"><img src="{{ asset('template/images/pi.png') }}"/> </a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul class="nav navbar-nav navbar-right footer-links">
            <li><a href="#">{{ 'About'|trans }} </a></li>
            <li><a href="#">{{ 'Terms'|trans }} </a></li>
            <li><a href="#">{{ 'Privacy'|trans }} </a></li>
            <li><a href="#">{{ 'Careers'|trans }} </a></li>
            <li><a href="#">{{ 'Apps'|trans }} </a></li>
            <li><a href="#">{{ 'Contact Us'|trans }} </a></li>
        </ul>
    </div>
</div>