{% extends 'base.html.twig' %}
{% block body %}
    <section id="vendoredit-reg" class="container">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-centered">
            {% if app.session.flashBag.has('message') %}
                <div class="alert alert-info">
                    {% for message in app.session.flashBag.get('message') %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Add Discount'|trans }}</div>
                <div class="panel-body">

                    {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                    {{ form_row(form.promotion) }}

                    {{ form_end(form) }}


                </div>
            </div>
        </div>
    </div>
    </section>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('default/js/jquery-ui.js') }}"></script>
    <link href="{{ asset('default/css/jquery-ui.css') }}" rel="stylesheet"/>
{% endblock %}