<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'Confirm deletion ?'|trans }}
            </div>
            <div class="modal-body">
                {{ 'Delete this coupon ?'|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                <a class="btn btn-danger btn-ok">{{ 'Delete this coupon ?'|trans }}</a>
            </div>
        </div>
    </div>
</div>

<!-- modal for edit -->
<div class="modal fade" id="coupon-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'Edit Coupon'|trans }}
            </div>
            <div class="modal-body">
              <iframe name="iframe" id="iframe"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                <a class="btn btn-danger btn-ok">{{ 'Update this coupon ?'|trans }}</a>
            </div>
        </div>
    </div>
</div>

<!-- end modal for edit -->
<section id="vendoredit-reg">
    <div class="row">
        {% if discounts %}
            {% for discount in discounts %}
                <div class="col-md-3 padding5">
                    <h3>{{ discount.title }}</h3>
                    <div class="thumbnail_container">
                        <div class="thumbnail">
                            <img class="img-responsive"
                                 src="{{ asset("files/company/discounts/") }}{{ company_del.company.id }}/{{ discount.promotion }}"
                                 alt=""></a>
                        </div>
                    </div>
                    <div>{{ 'Start Date'|trans }}: {{ discount.startDate.format('d-M-Y') }}</div>
                    <div>{{ 'End Date'|trans }}: {{ discount.endDate.format('d-M-Y') }}</div>
                    <div class="actions">
                        <a href="{{ path('company_edit_discount', { id: discount.id }) }}" class="discount_edit"  data-toggle="modal">
                            {#data-target="#coupon-edit"#}
                            <i class="fa fa-edit"></i>
                        </a> ||
                        <a href="#" class="discount_del"
                           data-href="{{ path('company_delete_discount', {'id' : discount.id} ) }}" data-toggle="modal"
                           data-target="#confirm-delete">
                            <i class="fa fa-trash"></i>
                        </a>

                    </div>

                    <br/>
                    <br/>
                </div>

            {% endfor %}
        {% else %}
            <div class="col-md-12  text-center">
                {{ 'No record found'|trans }}
            </div>
        {% endif %}
    </div>

</section>

<script>

    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
    $('#coupon-edit').on('shown.bs.modal',function(e){      //correct here use 'shown.bs.modal' event which comes in bootstrap3
        alert('---'+$(e.relatedTarget).data('href'));
        $(this).find('iframe').attr('src',$(e.relatedTarget).data('href'))
    })
</script>

