{% extends 'base.html.twig' %}
{% block topmenu %}
    <a href="{{ path('company_logout') }}">Logout</a>
{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">

                <a href="{{ path('company_detail') }}">Details</a> |
                <a href="{{ path('company_delegate_add') }}">Add Delegate</a> |
                <a href="{{ path('company_upload_discount') }}">Upload discount</a>
                <a href="{{ path('company_discount_list') }}">List Discount</a> |


            </div>

        </div>
    </div>





{% endblock %}